@import url('https://fonts.googleapis.com/css2?family=Offside&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Define the custom font */
@font-face {
    font-family: 'Dune_Rise';
    src: url('../fonts/Dune_Rise.ttf') format('truetype'),
         url('../fonts/Dune_Rise.otf') format('opentype');
  
}

/* Apply the custom font */
.logo-font {
    font-family: 'Dune_Rise';

}
.regular-font {
  font-family: "Offside", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.justify-between{
    justify-content: space-between;
}
.items-center{
    align-items: center;
}
.navbar{
    /* background-color: #333; */
    color: white;
    padding: 10px 20px;
    padding: 2vh;
}
.nav-links{
    color: rgb(164, 164, 164);
    text-decoration: none;
    margin-right: 1vw;
    font-size: 18px;
}
.nav-links:hover{
    color: #ffffff;
}
    /* padding: 10px; */
.landing-page {
    position: relative; /* Ensure the pseudo-element is positioned relative to this element */
    background-image: url('../imges-assets/stars-bg.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    z-index: 0; /* Set the stacking context */
}

.landing-page::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Black overlay with 50% opacity */
    z-index: -1; /* Place the overlay behind the content */
}
