@import url('https://fonts.googleapis.com/css2?family=Offside&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Define the custom font */
@font-face {
    font-family: 'Dune_Rise';
    src: url('../fonts/Dune_Rise.ttf') format('ttf'),
         url('../fonts/Dune_Rise.otf') format('otf');
  
}

/* Apply the custom font */
.logo-font {
    font-family: 'Dune_Rise';

}
.regular-font {
  font-family: "Offside", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.justify-between{
    justify-content: space-between;
}
.items-center{
    align-items: center;
}
.navbar{
    background-color: #333;
    color: white;
    padding: 10px 20px;
}
.nav-links{
    color: white;
    text-decoration: none;
    margin-right: 1vw;
    font-size: 18px;
}
    /* padding: 10px; */
